<div class="">
  <div class="logo">
    <h5>LOGO</h5>
  </div>
  <div class="info">
    <div class="resources">
      <h2>Resources</h2>
      <a>Home</a>
      <a>About</a>
    </div>
    <div class="followUs">
      <h2>Follow Us</h2>
      <a href="git">GitHub</a>
      <a href="discord">Discord</a>
    </div>
    <div class="legal">
      <h2>Legal</h2>
      <a href="#">Privacy Policy</a>
      <a href="">Terms & Conditions</a>
    </div>
  </div>
</div>

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, ut ipsam?
  Repellat impedit, perspiciatis magnam omnis deleniti, deserunt minima adipisci
  blanditiis neque harum officiis error quasi. Et alias sunt iure? Quia, aut?
  Sapiente omnis mollitia totam amet rem, ad porro aliquid et labore saepe iure
  temporibus rerum, impedit fugiat adipisci odit consequuntur officia quo nemo
  eum delectus magni iusto sed. Odit, minus minima molestiae ad dignissimos
  delectus ex est eveniet doloribus inventore suscipit facere quo explicabo
  natus, veniam labore consequatur non similique saepe nisi! Reiciendis autem
  magnam facilis repudiandae accusamus. Earum vero vitae dignissimos error
  recusandae deleniti libero nostrum nisi corrupti? Molestias sunt nemo
  perferendis quos, voluptatibus minus reiciendis ex laudantium fugit veritatis
  quis beatae iste architecto. Autem, magni ipsum. Sint obcaecati maxime neque.
  Tempora velit quam labore sapiente cum ullam magni dicta, dolores omnis. Ex
  perspiciatis perferendis odit nihil ad aliquam nemo suscipit doloremque
  doloribus voluptate. Totam, laborum amet!
</p>
